{% extends 'base.html' %}

{% block head %}
<title>Anime Recommendations</title>

{% endblock %}

{% block body %}
<div class="container">
    <div class="box">
        <h1>Anime Recommendation?</h1>
        <form action="{{ url_for('handle_data') }}" method="post">
            <label for="user">Season:</label>
            <select color="black" id="season" name="season">
                <option value="Summer">Summer</option>
                <option value="Fall">Fall</option>
                <option value="Winter">Winter</option>
                <option value="Spring">Spring</option>
            </select>
            <label for="year">Year:</label>
            <input type="number" min="1963" max="2024" value="2023" id="year" name="year" required>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="footer">
        <p>© 2022 David Harianto</p>
    </div>
</div>
{% endblock %}
